<div
  data-w-id="3e4eae5f-c9fd-c051-dc9f-9317b4043bae"
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="header-wrapper w-nav"
>
  <div class="container-default w-container">
    <div
      data-w-id="4d4c9d67-56aa-8fd7-5031-bb0cd8025442"
      class="header-content-wrapper"
    >
      <div class="header-logo-and-nav header-left---tablet">
        <div class="show-in-tablet">
          <a
            href="https://writingtemplate.webflow.io/search"
            class="header-search-link w-inline-block"
            ><img
              src="https://assets.website-files.com/640b89353805ffecac6d519d/641ca0143f3b8bb5b009a2ff_search-writing-x-webflow-template.svg"
              alt="Search Icon - Writing X Webflow Template"
              class="image-size _22px"
          /></a>
        </div>
        <div
          id="w-node-_4d4c9d67-56aa-8fd7-5031-bb0cd8025447-b4043bae"
          class="header-left-side header-v1"
        >
          <a href="/" class="header-logo-link w-nav-brand"
            ><img
              src="https://raw.githubusercontent.com/JAChesney/django-website-knowledgekeep/main/ccproject/knowledgekeep/templates/assets/Minimalist_Simple_Brand_Initial_Logo-removebg-preview.svg"
              alt="Logo - Writing X Webflow Template"
              class="header-logo"
          /></a>
        </div>
        <div class="nav-menu-header justify-end-tablet">
          <nav role="navigation" class="header-nav-menu-wrapper w-nav-menu">
            <ul role="list" class="header-nav-menu-list">
              <li class="header-nav-list-item left">
                <a
                  href="/"
                  aria-current="page"
                  class="header-nav-link w-nav-link w--current"
                  >Home</a
                >
              </li>
              <li class="header-nav-list-item left">
                <a href="/about" class="header-nav-link w-nav-link">About</a>
              </li>
              <li class="header-nav-list-item left">
                <div
                  data-hover="true"
                  data-delay="0"
                  data-w-id="a677a3fe-b3ff-a956-436e-b9122f8b3ec2"
                  class="dropdown-wrapper w-dropdown"
                >
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div>Pages</div>
                    <div class="line-rounded-icon dropdown-arrow"></div>
                  </div>
                  <nav class="dropdown-column-wrapper w-dropdown-list">
                    <div class="card dropdown-pd home-pages">
                      <div class="menu-main-wrapper---dropdown">
                        <div
                          id="w-node-a677a3fe-b3ff-a956-436e-b9122f8b3ecb-b4043bae"
                          class="menu-wrapper"
                        >
                          <div class="text-300 bold footer-title">
                            Main pages
                          </div>
                          <div class="nav-content header-nav-content-grid">
                            <div
                              id="w-node-a677a3fe-b3ff-a956-436e-b9122f8b3ecf-b4043bae"
                              class="w-layout-grid grid-1-column nav-menu-list-grid-1-col"
                            >
                              <a href="/" class="nav-link">Home (sales)</a>
                              <a
                                href="/home/home-v1"
                                aria-current="page"
                                class="nav-link w--current"
                                >Home V1</a
                              >
                              <a href="/home/home-v2" class="nav-link"
                                >Home V2</a
                              >
                              <a href="/home/home-v3" class="nav-link"
                                >Home V3</a
                              >
                              <a
                                href="/premium-pages/home-premium"
                                class="nav-link"
                                >Home premium</a
                              >
                              <a
                                href="/newsletter/newsletter-v1"
                                class="nav-link"
                                >Newsletter V1</a
                              >
                              <a
                                href="/newsletter/newsletter-v2"
                                class="nav-link"
                                >Newsletter V2</a
                              >
                              <a
                                href="/newsletter/newsletter-v3"
                                class="nav-link"
                                >Newsletter V3</a
                              >

                              <a
                                href="/subscribe-pages/subscribe-paid-v1"
                                class="nav-link"
                                >Subscribe paid V1</a
                              >

                              <a
                                href="/subscribe-pages/subscribe-paid-v2"
                                class="nav-link"
                                >Subscribe paid V2</a
                              >

                              <a
                                href="/subscribe-pages/subscribe-paid-v3"
                                class="nav-link"
                                >Subscribe paid V3</a
                              >
                            </div>
                            <div
                              id="w-node-a677a3fe-b3ff-a956-436e-b9122f8b3ee6-b4043bae"
                              class="w-layout-grid grid-1-column nav-menu-list-grid-1-col"
                            >
                              <a href="/blog-pages/blog-v1" class="nav-link"
                                >All articles V1</a
                              ><a href="/blog-pages/blog-v2" class="nav-link"
                                >All articles V2</a
                              ><a href="/blog-pages/blog-v3" class="nav-link"
                                >All articles V3</a
                              ><a href="/about" class="nav-link">About</a
                              ><a href="/authors" class="nav-link">Authors</a
                              ><a
                                href="https://writingtemplate.webflow.io/team/john-carter"
                                class="nav-link"
                                >Author single</a
                              ><a href="/contact" class="nav-link">Contact</a
                              ><a
                                href="https://writingtemplate.webflow.io/blog/aso-how-to-rank-your-app-in-the-mobile-app-stores"
                                class="nav-link"
                                >Blog post V1</a
                              ><a
                                href="https://writingtemplate.webflow.io/blog/aso-how-to-rank-your-app-in-the-mobile-app-stores#blog-post-v2"
                                class="nav-link"
                                >Blog post V2</a
                              ><a
                                href="https://writingtemplate.webflow.io/blog/aso-how-to-rank-your-app-in-the-mobile-app-stores#blog-post-v3"
                                class="nav-link"
                                >Blog post V3</a
                              >
                            </div>
                            <div
                              id="w-node-a677a3fe-b3ff-a956-436e-b9122f8b3efb-b4043bae"
                              class="w-layout-grid grid-1-column nav-menu-list-grid-1-col"
                            >
                              <a
                                href="https://writingtemplate.webflow.io/blog-premium/10-ways-to-collaborate-faster-with-freelancers"
                                class="nav-link"
                                >Blog post premium</a
                              ><a
                                href="https://writingtemplate.webflow.io/blog-category/business"
                                class="nav-link"
                                >Blog category</a
                              ><a href="/coming-soon" class="nav-link"
                                >Coming soon</a
                              ><a href="/log-in" class="nav-link">Log in</a
                              ><a href="/sign-up" class="nav-link">Sign up</a
                              ><a href="/reset-password" class="nav-link"
                                >Reset password</a
                              ><a
                                href="https://writingtemplate.webflow.io/update-password"
                                class="nav-link"
                                >Update password</a
                              ><a
                                href="https://writingtemplate.webflow.io/access-denied"
                                class="nav-link"
                                >Access denied</a
                              ><a href="/user-account" class="nav-link"
                                >User account</a
                              ><a
                                href="https://brixtemplates.com/more-webflow-templates"
                                target="_blank"
                                class="nav-link special"
                                >Browse Webflow <br />Templates</a
                              >
                            </div>
                          </div>
                        </div>
                        <div class="menu-wrapper">
                          <div class="text-300 bold footer-title">
                            Utility pages
                          </div>
                          <div>
                            <div
                              class="w-layout-grid grid-1-column nav-menu-list-grid-1-col"
                            >
                              <a
                                href="/template-pages/start-here"
                                class="nav-link"
                                >Start here</a
                              ><a
                                href="/template-pages/style-guide"
                                class="nav-link"
                                >Style guide</a
                              ><a
                                href="https://writingtemplate.webflow.io/404"
                                class="nav-link"
                                >404 Not found</a
                              ><a
                                href="https://writingtemplate.webflow.io/401"
                                class="nav-link"
                                >Password protected</a
                              ><a
                                href="/template-pages/licenses"
                                class="nav-link"
                                >Licenses</a
                              ><a
                                href="/template-pages/changelog"
                                class="nav-link"
                                >Changelog</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </li>
              <li class="header-nav-list-item left">
                <a href="/contact" class="header-nav-link w-nav-link"
                  >Contact</a
                >
              </li>
              {% if request.user.is_authenticated %}
              <li class="header-nav-list-item left">
                <a href="/addpaper/" class="header-nav-link w-nav-link"
                  >Add Paper</a
                >
              </li>
              {% endif %}
              <li class="header-nav-list-item left">
                <div
                  data-hover="true"
                  data-delay="0"
                  data-w-id="4d4c9d67-56aa-8fd7-5031-bb0cd80254b9"
                  class="dropdown-wrapper w-dropdown"
                >
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div>Categories</div>
                    <div class="line-rounded-icon dropdown-arrow"></div>
                  </div>
                  <nav class="dropdown-column-wrapper w-dropdown-list">
                    <div class="card dropdown-pd categories">
                      <div class="menu-wrapper">
                        <div class="inner-container">
                          <div class="w-layout-grid grid-1-column gap-row-20px">
                            <a
                              href="https://writingtemplate.webflow.io/blog-category/business"
                              class="nav-link categories-link-wrapper w-inline-block"
                              ><div class="mg-right-6px">
                                <img
                                  src="https://assets.website-files.com/640b89353805ffecac6d519d/640b89353805ff78fd6d5397_business-icon-image-writing-x-webflow-template.svg"
                                  alt="Business Icon - Writing X Webflow Template"
                                  class="image-size _18px"
                                />
                              </div>
                              <div>Business</div></a
                            ><a
                              href="https://writingtemplate.webflow.io/blog-category/design"
                              class="nav-link categories-link-wrapper w-inline-block"
                              ><div class="mg-right-6px">
                                <img
                                  src="https://assets.website-files.com/640b89353805ffecac6d519d/640b89353805ff52c06d5394_desing-icon-image-writing-x-webflow-template.svg"
                                  alt="Design Icon - Writing X Webflow Template"
                                  class="image-size _18px"
                                />
                              </div>
                              <div>Design</div></a
                            ><a
                              href="https://writingtemplate.webflow.io/blog-category/marketing"
                              class="nav-link categories-link-wrapper w-inline-block"
                              ><div class="mg-right-6px">
                                <img
                                  src="https://assets.website-files.com/640b89353805ffecac6d519d/640b89353805ff3cca6d5395_marketing-icon-image-writing-x-webflow-template.svg"
                                  alt="Marketing Icon - Writing X Webflow Template"
                                  class="image-size _18px"
                                />
                              </div>
                              <div>Marketing</div></a
                            ><a
                              href="https://writingtemplate.webflow.io/blog-category/development"
                              class="nav-link categories-link-wrapper w-inline-block"
                              ><div class="mg-right-6px">
                                <img
                                  src="https://assets.website-files.com/640b89353805ffecac6d519d/640b89353805ff38276d5396_development-icon-image-writing-x-webflow-template.svg"
                                  alt="Development Icon - Writing X Webflow Template"
                                  class="image-size _18px"
                                />
                              </div>
                              <div>Development</div></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </li>
            </ul>
          </nav>

          <div class="hamburger-menu-wrapper w-nav-button">
            <div class="btn-menu-wrapper">
              <div class="hamburger-menu-bar top"></div>
              <div class="hamburger-menu-bar medium"></div>
              <div class="hamburger-menu-bar bottom"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-right-side header-v1">
        <div class="header-right-container">
          <div>
            <div class="mg-left-14px---tablet hidden-on-mbp">
              <div class="inner-container _100px">
                <div class="w-layout-grid social-media-grid-top small right">
                  <a
                    href="https://facebook.com/"
                    target="_blank"
                    class="social-icon-square size-30px w-inline-block"
                    ><div class="social-icon-font"></div></a
                  ><a
                    href="https://twitter.com/"
                    target="_blank"
                    class="social-icon-square size-30px w-inline-block"
                    ><div class="social-icon-font"></div></a
                  ><a
                    href="https://www.instagram.com/"
                    target="_blank"
                    class="social-icon-square size-30px w-inline-block"
                    ><div class="social-icon-font"></div></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            data-hover="true"
            data-delay="0"
            data-w-id="4d4c9d67-56aa-8fd7-5031-bb0cd8025542"
            class="dropdown-wrapper mg-left-14px w-dropdown"
          >
            <div class="dropdown-toggle btn-secondary small w-dropdown-toggle">
              <div>Login</div>
              <div class="line-rounded-icon dropdown-arrow"></div>
            </div>
            <nav class="dropdown-column-wrapper login w-dropdown-list">
              <div class="card dropdown-pd login">
                <div class="menu-wrapper">
                  <div class="inner-container">
                    <div class="w-layout-grid grid-1-column">
                      {% if request.user.is_authenticated %}
                      <a
                        href="/user-account"
                        class="nav-link categories-link-wrapper w-inline-block"
                        ><div class="mg-right-6px">
                          <img
                            src="https://assets.website-files.com/640b89353805ffecac6d519d/640b89353805ff52c06d5394_desing-icon-image-writing-x-webflow-template.svg"
                            loading="lazy"
                            alt="Design Icon - Writing X Webflow Template"
                          />
                        </div>
                        <div>My account</div></a
                      >
                      <a
                        href="/logout"
                        class="nav-link categories-link-wrapper w-inline-block"
                        ><div class="mg-right-6px">
                          <img
                            src="https://assets.website-files.com/640b89353805ffecac6d519d/640b89353805ff84d36d53b5_log-in-icon-writing-x-webflow-template.svg"
                            loading="lazy"
                            alt="Log In Icon - Writing X Webflow Template"
                          />
                        </div>
                        <div>Log out</div></a>
                      {% else %}
                      <a
                        href="/login"
                        class="nav-link categories-link-wrapper w-inline-block"
                        ><div class="mg-right-6px">
                          <img
                            src="https://assets.website-files.com/640b89353805ffecac6d519d/640b89353805ff84d36d53b5_log-in-icon-writing-x-webflow-template.svg"
                            loading="lazy"
                            alt="Log In Icon - Writing X Webflow Template"
                          />
                        </div>
                        <div>Log in</div></a>
                      {% comment %}<a
                        href="/user-account"
                        class="nav-link categories-link-wrapper w-inline-block"
                        ><div class="mg-right-6px">
                          <img
                            src="https://assets.website-files.com/640b89353805ffecac6d519d/640b89353805ff52c06d5394_desing-icon-image-writing-x-webflow-template.svg"
                            loading="lazy"
                            alt="Design Icon - Writing X Webflow Template"
                          />
                        </div>
                        <div>My account</div></a
                      > 
                      <div
                        id="w-node-_4d4c9d67-56aa-8fd7-5031-bb0cd8025557-b4043bae"
                        class="divider _0px"
                      ></div>
                      <a
                        href="/subscribe-pages/subscribe-paid-v1"
                        class="nav-link premium-access-wrapper w-inline-block"
                        ><div class="mg-right-6px">
                          <img
                            src="https://assets.website-files.com/640b89353805ffecac6d519d/640b89353805ffbb686d53b4_premium-icon-writing-x-webflow-template.svg"
                            loading="lazy"
                            alt="Premium Icon - Writing X Webflow Template"
                          />
                        </div>
                        <div>Premium access</div></a> {% endcomment %}
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div>
            <a
              href="/subscribe-pages/subscribe-paid-v1"
              class="btn-primary small header-btn-hidde-on-mb w-button"
              >Subscribe</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
