{% extends 'base.html' %} {% block content %}

<!-- nav bar -->
{% include 'includes/navbar.html' %}

<section style='background-color: black;' class="section hero v21">
  <div class="container-default w-container">
    <div class="inner-container _434px center">
      <div
        data-w-id="6370676b-4f5f-5d65-8a68-bae10885639e"
       
      >
        <div class="mg-bottom-24px">
          <div class="inner-container _60px center">
            <div class="image-wrapper icon-circle">
              <img
                src="https://assets-global.website-files.com/640b89353805ffecac6d519d/640b89353805ff81da6d53b8_lock-white-accounts-writing-x-webflow-template.svg"
                alt="This Content Is For Premium Accounts Only Icon - Writing X Webflow Template"
              />
            </div>
          </div>
        </div>
        <div class="text-center">
          <h2 class="display-2 color-neutral-100 mg-bottom-10px">
            This content is for premium
            <span class="text-no-wrap">accounts only</span>
          </h2>
          <p class="color-neutral-400 mg-bottom-24px keep">
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Pulvinar
            tellus odio sed tempor
            <span class="text-no-wrap">eu scelerisque sit.</span>
          </p>
        </div>
      </div>
      <a
        data-w-id="a9393166-e55b-e78a-42c1-c860a9aef8e7"
        
        href="/subscription"
        class="btn-primary white width-100 w-button"
        >Subscribe</a
      >
      <div
        data-w-id="39defc45-f127-0f46-f7e4-e0aa7619a722"
        
        class="text-center mg-top-16px"
      >
        
      </div>
    </div>
  </div>
</section>
{% endblock %}