{% extends 'base.html' %} {% block content %}

<!-- nav bar -->
{% include 'includes/navbar.html' %}

<section class="section hero v12">
  <div class="container-default w-container">
    <div class="inner-container _500px---mbl center">
      {% comment %}
      <div class="mg-bottom-20px">
        <div
          data-w-id="198be2eb-1ffa-7f69-2321-4c295df7934f"
          class="flex-horizontal start"
        >
          <div class="heading-h5-size mg-right-32px">1 Column</div>
          <div class="divider divider-flex-sizing mg-74px"></div>
        </div>
        <div
          data-w-id="2250b303-4955-ab63-22b4-2c0396368f2f"
          class="w-dyn-list"
        >
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <a
                data-w-id="2250b303-4955-ab63-22b4-2c0396368f32"
                href="/blog/the-best-pomodoro-app-to-increase-your-productivity"
                class="article-link blog-card-featured-v1 w-inline-block"
                ><div
                  class="w-layout-grid grid-2-columns blog-card-featured-v1"
                >
                  <div class="inner-container _664px _100---tablet">
                    <div class="blog-card-image-wrapper featured-v1">
                      <img
                        src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template.jpg"
                        alt="The best Pomodoro app to increase your productivity"
                        sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 95vw, (max-width: 1439px) 52vw, 664px"
                        srcset="
                          https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                          https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                          https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                          https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template.jpg        1560w
                        "
                        class="article-picture fit-cover _w-h-100"
                      />
                    </div>
                  </div>
                  <div
                    id="w-node-_2250b303-4955-ab63-22b4-2c0396368f37-eb6d51ad"
                    class="inner-container blog-card-featured-v1-content"
                  >
                    <div class="details-wrapper mg-bottom-18px">
                      <div class="badge-secondary small light">Business</div>
                      <div class="text-100 medium">May 2, 2023</div>
                    </div>
                    <h1 class="article-title display-3 mg-bottom-12px">
                      The best Pomodoro app to increase your productivity
                    </h1>
                    <div class="inner-container _550px---tablet">
                      <div class="inner-container _450px---mbl">
                        <p class="mg-bottom-0">
                          Lorem ipsum dolor sit amet consectetur adipiscing elit
                          imperdiet aliquam nibh dignissim quis cursus aliquam
                          mauris dictumst sapien.
                        </p>
                      </div>
                    </div>
                  </div>
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        data-w-id="198be2eb-1ffa-7f69-2321-4c295df7936a"
        class="flex-horizontal start"
      >
        <div class="heading-h5-size mg-right-32px">2 Columns</div>
        <div class="divider divider-flex-sizing mg-74px"></div>
      </div>
      {% endcomment %} {% comment %}
      <div class="mg-bottom-20px">
        <div
          data-w-id="6bdd9f12-9d23-c8eb-a9ad-9f4dcbf2082e"
          class="w-dyn-list"
        >
          <div
            role="list"
            class="grid-2-columns blog-grid---default w-dyn-items"
          >
            <div
              id="w-node-_6bdd9f12-9d23-c8eb-a9ad-9f4dcbf20830-eb6d51ad"
              role="listitem"
              class="w-dyn-item"
            >
              <a
                data-w-id="6bdd9f12-9d23-c8eb-a9ad-9f4dcbf20831"
                href="/blog/the-best-pomodoro-app-to-increase-your-productivity"
                class="article-link article-v1 w-inline-block"
                ><div class="blog-card-image-wrapper article-v1-image">
                  <img
                    src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template.jpg"
                    alt="The best Pomodoro app to increase your productivity"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 47vw, 602px"
                    srcset="
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template.jpg        1560w
                    "
                    class="article-picture fit-cover _w-h-100"
                  />
                </div>
                <div class="article-v1-content">
                  <div class="details-wrapper mg-bottom-12px">
                    <div class="badge-secondary small light">Business</div>
                    <div class="text-100 medium">May 2, 2023</div>
                  </div>
                  <div class="inner-container _350px---mbp">
                    <h2 class="article-title display-3 mg-bottom-12px">
                      The best Pomodoro app to increase your productivity
                    </h2>
                  </div>
                  <div class="inner-container _450px---mbl">
                    <p class="mg-bottom-0">
                      Lorem ipsum dolor sit amet consectetur adipiscing elit
                      imperdiet aliquam nibh dignissim quis cursus aliquam
                      mauris dictumst sapien.
                    </p>
                  </div>
                </div></a
              >
            </div>
            <div
              id="w-node-_6bdd9f12-9d23-c8eb-a9ad-9f4dcbf20830-eb6d51ad"
              role="listitem"
              class="w-dyn-item"
            >
              <a
                data-w-id="6bdd9f12-9d23-c8eb-a9ad-9f4dcbf20831"
                href="/blog/aso-how-to-rank-your-app-in-the-mobile-app-stores"
                class="article-link article-v1 w-inline-block"
                ><div class="blog-card-image-wrapper article-v1-image">
                  <img
                    src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template.jpg"
                    alt="ASO: How to rank your app in the mobile app stores"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 47vw, 602px"
                    srcset="
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template.jpg        1560w
                    "
                    class="article-picture fit-cover _w-h-100"
                  />
                </div>
                <div class="article-v1-content">
                  <div class="details-wrapper mg-bottom-12px">
                    <div class="badge-secondary small light">Marketing</div>
                    <div class="text-100 medium">May 2, 2023</div>
                  </div>
                  <div class="inner-container _350px---mbp">
                    <h2 class="article-title display-3 mg-bottom-12px">
                      ASO: How to rank your app in the mobile app stores
                    </h2>
                  </div>
                  <div class="inner-container _450px---mbl">
                    <p class="mg-bottom-0">
                      Lorem ipsum dolor sit amet consectetur adipiscing elit
                      imperdiet aliquam nibh dignissim quis cursus aliquam
                      mauris dictumst sapien.
                    </p>
                  </div>
                </div></a
              >
            </div>
            <div
              id="w-node-_6bdd9f12-9d23-c8eb-a9ad-9f4dcbf20830-eb6d51ad"
              role="listitem"
              class="w-dyn-item"
            >
              <a
                data-w-id="6bdd9f12-9d23-c8eb-a9ad-9f4dcbf20831"
                href="/blog/learn-how-to-choose-the-best-management-software"
                class="article-link article-v1 w-inline-block"
                ><div class="blog-card-image-wrapper article-v1-image">
                  <img
                    src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template.jpg"
                    alt="Learn how to choose the best management software"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 47vw, 602px"
                    srcset="
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template.jpg        1560w
                    "
                    class="article-picture fit-cover _w-h-100"
                  />
                </div>
                <div class="article-v1-content">
                  <div class="details-wrapper mg-bottom-12px">
                    <div class="badge-secondary small light">Development</div>
                    <div class="text-100 medium">May 2, 2023</div>
                  </div>
                  <div class="inner-container _350px---mbp">
                    <h2 class="article-title display-3 mg-bottom-12px">
                      Learn how to choose the best management software
                    </h2>
                  </div>
                  <div class="inner-container _450px---mbl">
                    <p class="mg-bottom-0">
                      Lorem ipsum dolor sit amet consectetur adipiscing elit
                      imperdiet aliquam nibh dignissim quis cursus aliquam
                      mauris dictumst sapien.
                    </p>
                  </div>
                </div></a
              >
            </div>
            <div
              id="w-node-_6bdd9f12-9d23-c8eb-a9ad-9f4dcbf20830-eb6d51ad"
              role="listitem"
              class="w-dyn-item"
            >
              <a
                data-w-id="6bdd9f12-9d23-c8eb-a9ad-9f4dcbf20831"
                href="/blog/how-to-create-a-powerful-marketing-sales-funnel"
                class="article-link article-v1 w-inline-block"
                ><div class="blog-card-image-wrapper article-v1-image">
                  <img
                    src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template.jpg"
                    alt="How to create a powerful marketing sales funnel"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 47vw, 602px"
                    srcset="
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template.jpg        1560w
                    "
                    class="article-picture fit-cover _w-h-100"
                  />
                </div>
                <div class="article-v1-content">
                  <div class="details-wrapper mg-bottom-12px">
                    <div class="badge-secondary small light">Marketing</div>
                    <div class="text-100 medium">May 2, 2023</div>
                  </div>
                  <div class="inner-container _350px---mbp">
                    <h2 class="article-title display-3 mg-bottom-12px">
                      How to create a powerful marketing sales funnel
                    </h2>
                  </div>
                  <div class="inner-container _450px---mbl">
                    <p class="mg-bottom-0">
                      Lorem ipsum dolor sit amet consectetur adipiscing elit
                      imperdiet aliquam nibh dignissim quis cursus aliquam
                      mauris dictumst sapien.
                    </p>
                  </div>
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
      <div data-w-id="198be2eb-1ffa-7f69-2321-4c295df79385" class="flex-horizontal start">
        {% comment %} <div class="heading-h5-size mg-right-32px">3 Columns</div> {% endcomment %}
        {% comment %} <div class="divider divider-flex-sizing mg-74px"></div> {% endcomment %}
      </div>
      <div class="mg-bottom-20px">
        <div
          data-w-id="198be2eb-1ffa-7f69-2321-4c295df7938a" class="w-dyn-list">
          <div
            role="list"
            class="grid-3-columns blog-grid---default w-dyn-items">
            {% for paper in papers %}
            <div role="listitem" class="w-dyn-item">
              <a data-w-id="97131d11-ad35-5adf-b3f3-931a68bcf826" href="{% if request.user.has_subscribed or paper.user == request.user %} {% url 'description' paper.id %} {% else %} /access-denied {% endif %}" class="article-link article-v1 w-inline-block">
                <div class="blog-card-image-wrapper article-v1-image">
                  <img
                    src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template.jpg"
                    alt="The best Pomodoro app to increase your productivity"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 30vw, 390px"
                    srcset="
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template.jpg        1560w
                    "
                    class="article-picture fit-cover _w-h-100"
                  />
                </div>
                <div class="article-v1-content">
                  <div class="details-wrapper mg-bottom-12px">
                    <div class="badge-secondary small light">{{ paper.type }}</div>
                    <div class="text-100 medium">May 2, 2023</div>
                  </div>
                  <div class="inner-container _350px---mbp">
                    <h3 class="article-title display-4 mg-bottom-12px">
                      {{ paper.paper_name }}
                    </h3>
                  </div>
                  <p class="mg-bottom-0">
                    {{ paper.short_description }}
                  </p>
                </div></a
              >
            </div>
            {% endfor %}
            {% comment %} <div role="listitem" class="w-dyn-item">
              <a
                data-w-id="97131d11-ad35-5adf-b3f3-931a68bcf826"
                href="/blog/aso-how-to-rank-your-app-in-the-mobile-app-stores"
                class="article-link article-v1 w-inline-block"
                ><div class="blog-card-image-wrapper article-v1-image">
                  <img
                    src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template.jpg"
                    alt="ASO: How to rank your app in the mobile app stores"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 30vw, 390px"
                    srcset="
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template.jpg        1560w
                    "
                    class="article-picture fit-cover _w-h-100"
                  />
                </div>
                <div class="article-v1-content">
                  <div class="details-wrapper mg-bottom-12px">
                    <div class="badge-secondary small light">Marketing</div>
                    <div class="text-100 medium">May 2, 2023</div>
                  </div>
                  <div class="inner-container _350px---mbp">
                    <h3 class="article-title display-4 mg-bottom-12px">
                      ASO: How to rank your app in the mobile app stores
                    </h3>
                  </div>
                  <p class="mg-bottom-0">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    ridiculus mollis sem scelerisque purus platea.
                  </p>
                </div></a
              >
            </div>
            <div role="listitem" class="w-dyn-item">
              <a
                data-w-id="97131d11-ad35-5adf-b3f3-931a68bcf826"
                href="/blog/learn-how-to-choose-the-best-management-software"
                class="article-link article-v1 w-inline-block"
                ><div class="blog-card-image-wrapper article-v1-image">
                  <img
                    src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template.jpg"
                    alt="Learn how to choose the best management software"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 30vw, 390px"
                    srcset="
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template.jpg        1560w
                    "
                    class="article-picture fit-cover _w-h-100"
                  />
                </div>
                <div class="article-v1-content">
                  <div class="details-wrapper mg-bottom-12px">
                    <div class="badge-secondary small light">Development</div>
                    <div class="text-100 medium">May 2, 2023</div>
                  </div>
                  <div class="inner-container _350px---mbp">
                    <h3 class="article-title display-4 mg-bottom-12px">
                      Learn how to choose the best management software
                    </h3>
                  </div>
                  <p class="mg-bottom-0">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    ridiculus mollis sem scelerisque purus platea.
                  </p>
                </div></a
              >
            </div>
            <div role="listitem" class="w-dyn-item">
              <a
                data-w-id="97131d11-ad35-5adf-b3f3-931a68bcf826"
                href="/blog/how-to-create-a-powerful-marketing-sales-funnel"
                class="article-link article-v1 w-inline-block"
                ><div class="blog-card-image-wrapper article-v1-image">
                  <img
                    src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template.jpg"
                    alt="How to create a powerful marketing sales funnel"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 30vw, 390px"
                    srcset="
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template.jpg        1560w
                    "
                    class="article-picture fit-cover _w-h-100"
                  />
                </div>
                <div class="article-v1-content">
                  <div class="details-wrapper mg-bottom-12px">
                    <div class="badge-secondary small light">Marketing</div>
                    <div class="text-100 medium">May 2, 2023</div>
                  </div>
                  <div class="inner-container _350px---mbp">
                    <h3 class="article-title display-4 mg-bottom-12px">
                      How to create a powerful marketing sales funnel
                    </h3>
                  </div>
                  <p class="mg-bottom-0">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    ridiculus mollis sem scelerisque purus platea.
                  </p>
                </div></a
              >
            </div>
            <div role="listitem" class="w-dyn-item">
              <a
                data-w-id="97131d11-ad35-5adf-b3f3-931a68bcf826"
                href="/blog/how-to-save-time-make-your-meetings-more-productive"
                class="article-link article-v1 w-inline-block"
                ><div class="blog-card-image-wrapper article-v1-image">
                  <img
                    src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff56656d5489_meetings-more-productive-thumbnail-image-writing-x-webflow-template.jpg"
                    alt="How to save time &amp; make your meetings more productive"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 30vw, 390px"
                    srcset="
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff56656d5489_meetings-more-productive-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff56656d5489_meetings-more-productive-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff56656d5489_meetings-more-productive-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff56656d5489_meetings-more-productive-thumbnail-image-writing-x-webflow-template.jpg        1560w
                    "
                    class="article-picture fit-cover _w-h-100"
                  />
                </div>
                <div class="article-v1-content">
                  <div class="details-wrapper mg-bottom-12px">
                    <div class="badge-secondary small light">Business</div>
                    <div class="text-100 medium">May 2, 2023</div>
                  </div>
                  <div class="inner-container _350px---mbp">
                    <h3 class="article-title display-4 mg-bottom-12px">
                      How to save time &amp; make your meetings more productive
                    </h3>
                  </div>
                  <p class="mg-bottom-0">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    ridiculus mollis sem scelerisque purus platea.
                  </p>
                </div></a
              >
            </div>
            <div role="listitem" class="w-dyn-item">
              <a
                data-w-id="97131d11-ad35-5adf-b3f3-931a68bcf826"
                href="/blog/what-is-design-thinking-and-why-is-it-important"
                class="article-link article-v1 w-inline-block"
                ><div class="blog-card-image-wrapper article-v1-image">
                  <img
                    src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff9f536d5488_design-thinking-thumbnail-image-writing-x-webflow-template.jpg"
                    alt="What is design thinking, and why is it important?"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 30vw, 390px"
                    srcset="
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff9f536d5488_design-thinking-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff9f536d5488_design-thinking-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff9f536d5488_design-thinking-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                      https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff9f536d5488_design-thinking-thumbnail-image-writing-x-webflow-template.jpg        1560w
                    "
                    class="article-picture fit-cover _w-h-100"
                  />
                </div>
                <div class="article-v1-content">
                  <div class="details-wrapper mg-bottom-12px">
                    <div class="badge-secondary small light">Design</div>
                    <div class="text-100 medium">May 2, 2023</div>
                  </div>
                  <div class="inner-container _350px---mbp">
                    <h3 class="article-title display-4 mg-bottom-12px">
                      What is design thinking, and why is it important?
                    </h3>
                  </div>
                  <p class="mg-bottom-0">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    ridiculus mollis sem scelerisque purus platea.
                  </p>
                </div></a
              >
            </div> {% endcomment %}
          </div>
        </div>
      </div>
      {% comment %} <div
        data-w-id="198be2eb-1ffa-7f69-2321-4c295df793a0"
        class="flex-horizontal start"
      >
        <div class="heading-h5-size mg-right-32px">4 Columns</div>
        <div class="divider divider-flex-sizing mg-74px"></div>
      </div> {% endcomment %}
      {% comment %} <div
        data-w-id="198be2eb-1ffa-7f69-2321-4c295df793a4"
        style="
          -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        "
        class="w-dyn-list"
      >
        <div role="list" class="grid-4-columns blog-grid---default w-dyn-items">
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="a18632f8-b7d9-b500-1dc0-eba3178db56d"
              href="/blog/the-best-pomodoro-app-to-increase-your-productivity"
              class="article-link article-v1 w-inline-block"
              ><div
                class="blog-card-image-wrapper article-v1-image mg-bottom-24px"
              >
                <img
                  src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template.jpg"
                  alt="The best Pomodoro app to increase your productivity"
                  sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 22vw, 284px"
                  srcset="
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff79f06d5492_increase-productivity-thumbnail-image-writing-x-webflow-template.jpg        1560w
                  "
                  class="article-picture fit-cover _w-h-100"
                />
              </div>
              <div class="article-v1-content">
                <div class="details-wrapper mg-bottom-12px">
                  <div class="badge-secondary small light">Business</div>
                  <div class="text-100 medium">May 2, 2023</div>
                </div>
                <div class="inner-container _350px---mbp">
                  <h4 class="article-title heading-h5-size mg-bottom-12px">
                    The best Pomodoro app to increase your productivity
                  </h4>
                </div>
                <p class="mg-bottom-0">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                  ridiculus mollis sem scelerisque purus platea.
                </p>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="a18632f8-b7d9-b500-1dc0-eba3178db56d"
              href="/blog/aso-how-to-rank-your-app-in-the-mobile-app-stores"
              class="article-link article-v1 w-inline-block"
              ><div
                class="blog-card-image-wrapper article-v1-image mg-bottom-24px"
              >
                <img
                  src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template.jpg"
                  alt="ASO: How to rank your app in the mobile app stores"
                  sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 22vw, 284px"
                  srcset="
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805fff3bf6d5491_mobile-app-stores-thumbnail-image-writing-x-webflow-template.jpg        1560w
                  "
                  class="article-picture fit-cover _w-h-100"
                />
              </div>
              <div class="article-v1-content">
                <div class="details-wrapper mg-bottom-12px">
                  <div class="badge-secondary small light">Marketing</div>
                  <div class="text-100 medium">May 2, 2023</div>
                </div>
                <div class="inner-container _350px---mbp">
                  <h4 class="article-title heading-h5-size mg-bottom-12px">
                    ASO: How to rank your app in the mobile app stores
                  </h4>
                </div>
                <p class="mg-bottom-0">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                  ridiculus mollis sem scelerisque purus platea.
                </p>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="a18632f8-b7d9-b500-1dc0-eba3178db56d"
              href="/blog/learn-how-to-choose-the-best-management-software"
              class="article-link article-v1 w-inline-block"
              ><div
                class="blog-card-image-wrapper article-v1-image mg-bottom-24px"
              >
                <img
                  src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template.jpg"
                  alt="Learn how to choose the best management software"
                  sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 22vw, 284px"
                  srcset="
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff39846d5490_best-software-thumbnail-image-writing-x-webflow-template.jpg        1560w
                  "
                  class="article-picture fit-cover _w-h-100"
                />
              </div>
              <div class="article-v1-content">
                <div class="details-wrapper mg-bottom-12px">
                  <div class="badge-secondary small light">Development</div>
                  <div class="text-100 medium">May 2, 2023</div>
                </div>
                <div class="inner-container _350px---mbp">
                  <h4 class="article-title heading-h5-size mg-bottom-12px">
                    Learn how to choose the best management software
                  </h4>
                </div>
                <p class="mg-bottom-0">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                  ridiculus mollis sem scelerisque purus platea.
                </p>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="a18632f8-b7d9-b500-1dc0-eba3178db56d"
              href="/blog/how-to-create-a-powerful-marketing-sales-funnel"
              class="article-link article-v1 w-inline-block"
              ><div
                class="blog-card-image-wrapper article-v1-image mg-bottom-24px"
              >
                <img
                  src="https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template.jpg"
                  alt="How to create a powerful marketing sales funnel"
                  sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1439px) 22vw, 284px"
                  srcset="
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template-p-500.jpg   500w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template-p-800.jpg   800w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template-p-1080.jpg 1080w,
                    https://assets-global.website-files.com/640b89353805ff39126d51c7/640b89353805ff7a066d548f_powerful-marketing-thumbnail-image-writing-x-webflow-template.jpg        1560w
                  "
                  class="article-picture fit-cover _w-h-100"
                />
              </div>
              <div class="article-v1-content">
                <div class="details-wrapper mg-bottom-12px">
                  <div class="badge-secondary small light">Marketing</div>
                  <div class="text-100 medium">May 2, 2023</div>
                </div>
                <div class="inner-container _350px---mbp">
                  <h4 class="article-title heading-h5-size mg-bottom-12px">
                    How to create a powerful marketing sales funnel
                  </h4>
                </div>
                <p class="mg-bottom-0">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                  ridiculus mollis sem scelerisque purus platea.
                </p>
              </div></a
            >
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </div>
</section>

{% endblock %}
